/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f7fc;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #0057b8;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #003f87;
}

/* MAIN */
.main {
    margin-left: 250px;
    padding: 20px;
}

header h1 {
    color: #003f87;
}

/* UPDATE CARD */
.update-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.update-card {
    background: white;
    width: 420px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border-left: 5px solid #0057b8;
}

.update-card h2 {
    color: #003f87;
}

label {
    display: block;
    margin-top: 15px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.save-btn {
    background: #0057b8;
    color: white;
}
